<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="BD" providerName="MySql.Data.MySqlClient"
		connectionString="Server=localhost;Database=pizzaria_zee;Uid=root;Pwd=;" />
	</connectionStrings>
	<appSettings>
		<add key="mainLanguage" value="pt-BR"/>
	</appSettings>
</configuration>